{% extends 'server/layout.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">
    <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}

{% block body %}
    <main>
        <table>
            <caption>кошик</caption>
            <thead>
                <th>назва</th>
                <th>фірма</th>
                <th>ціна</th>
                <th>кількість</th>
            </thead>
            <tbody id="basketList">

            </tbody>
        </table>
    </main>
{% endblock %}