{% extends "server/layout.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block nav %}
    <div class="search">
        <input type="text" placeholder="Шукати">
    </div>
{% endblock %}

{% block body %} 
    <main>
    <div class="sort"> 
        <p>Виробник</p>
        <ul>
            <li><input data-checkbox="Samsung" type="checkbox"> Samsung</li>
            <li><input data-checkbox="Apple" type="checkbox"> Apple</li>
            <li><input data-checkbox="Xiaomi" type="checkbox"> Xiaomi</li>
            <li><input data-checkbox="OPPO" type="checkbox"> OPPO</li>
            <li><input data-checkbox="Vivo" type="checkbox"> Vivo</li>
            <li><input data-checkbox="Lenovo" type="checkbox"> Lenovo</li>
        </ul>
        <p>Ціна</p>
        <div id="slider-range"></div>
        <div id="slider-values">
            <span id="slider-value1"></span> - <span id="slider-value2"></span>
        </div>
    </div>
    <div  id="main">
        
    </div>
    </main>
    {% if user_info %}
        <script>
            user = "{{ user_info }}"
            document.cookie = `user=${user}`
        </script>
    {% endif %}
{% endblock %}